<md-content dir="rtl" ng-controller="WarningsController as vm" layout="row" layout-align="center center">
    <md-table-container>
        <a href="#!/costumers">מידע נוסף</a><br />
        <table md-table md-row-select multiple ng-model="selected" class="table table-hover table-bordered">
            <thead md-head md-order="query.order" md-on-reorder="vm.getItems()">
                <tr md-row>
                    <th md-column md-numeric>שם לקוח</th>
                    <th md-column md-order-by="nameToLower"><span>תיאור העסקה</span></th>
                    <th md-column md-numeric><span>תאריך דרישה לביצוע</span></th>
                    <th md-column md-numeric><span>אבן דרך</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="item" md-select-id="name" md-auto-select>
                    <td md-cell style="text-align: right">AAA הנדסה</td>
                    <td md-cell style="text-align: right">רכישת ציוד משרדי</td>
                    <td md-cell style="text-align: right">13/01/18</td>
                    <td md-cell style="text-align: right">תשלום</td>
                </tr>
                <tr md-row md-select="item" md-select-id="name2">
                    <td md-cell style="text-align: right">BBB הנדסה</td>
                    <td md-cell style="text-align: right">רכישת ציוד משרדי</td>
                    <td md-cell style="text-align: right">19/01/19</td>
                    <td md-cell style="text-align: right">תשלום</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <!--<nvd3 options="vm.chartOptions" data="vm.warningsChartData"></nvd3>-->
</md-content>
