<md-content ng-controller="ControlPanelController as vm" class="md-padding">

    <md-table-container>
        <table md-table md-row-select multiple ng-model="selected" class="table table-hover table-bordered" style="overflow: scroll;">
            <thead md-head md-order="query.order" md-on-reorder="vm.getItems()">
            <tr md-row>
                <th md-column md-numeric>שם הלקוח</th>
                <th md-column md-numeric>סכום החוב לעסקה</th>
                <th md-column md-order-by="nameToLower"><span>תאריך דרישה לתשלום</span></th>
                <th md-column md-order-by="nameToLower"><span>סכום חוב כולל ללקוח</span></th>
            </tr>
            </thead>
            <tbody md-body style="overflow-y: auto">
            <tr md-row md-select="item" md-select-id="name" md-auto-select>
                <td md-cell style="text-align: right">CRG הנדסה</td>
                <td md-cell style="text-align: right">12/10/18</td>
                <td md-cell style="text-align: right">12,000</td>
                <td md-cell style="text-align: right">14,000</td>
            </tr>
            <tr md-row md-select="item" md-select-id="name2">
                <td md-cell style="text-align: right">שירותי בריאות</td>
                <td md-cell style="text-align: right">31/12/18</td>
                <td md-cell style="text-align: right">100,000</td>
                <td md-cell style="text-align: right">400,000</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>


<!--
    <md-progress-linear class="widget-progress md-accent" md-mode="determinate"
                        value="{{vm.determinateValue}}" ng-show="vm.showProgress">
    </md-progress-linear>

    <md-radio-group ng-model="vm.reloadServer">
        <md-radio-button class="md-accent" value="Staging">Staging server</md-radio-button>
        <md-radio-button class="md-accent" value="Production">Production server</md-radio-button>
    </md-radio-group>

    <md-button class="md-raised md-warn" ng-click="vm.performProgress()">
        Reload server
    </md-button>
    -->
</md-content>
