<div class="messages" ng-controller="MessagesController as vm">
    <md-content class="messages-content">

        <messages-section theme="md-accent" title="System" messages="vm.messages"></messages-section>
        <messages-section theme="md-primary" title="Remindes" messages="vm.messages"></messages-section>
        <!-- <messages-section theme="md-warn" title="Problems reported" messages="vm.messages"></messages-section> -->

        <md-divider></md-divider>
    </md-content>
</div>