<div ng-controller="PerformanceController as vm">
 <!-- <md-content ng-show="$showOptions" class="options">
    <md-radio-group ng-model="vm.performancePeriod" ng-change="vm.changePeriod()">
      <md-radio-button  value="week">Last week</md-radio-button>
      <md-radio-button  value="month">Last month</md-radio-button>
    </md-radio-group>
  </md-content> -->

  <md-content class="md-padding">
    <nvd3 options="vm.chartOptions" data="vm.performanceChartData"></nvd3>
  </md-content>
</div>
