﻿<md-content ng-controller="VisitorsController as vm" layout="row" layout-align="center center">
    <!-- <nvd3 options="vm.chartOptions" data="vm.visitorsChartData"></nvd3> -->
    <form ng-submit="vm.addTodo($event)" novalidate name="newBag">
        <div layout="row" flex>
            <md-input-container flex>
                <label>שם החברה</label>
                <input ng-model="vm.todoText" name="name" required>
            </md-input-container>
        </div>
        <div layout="row" flex>
            <md-input-container flex>
                <label>ח.פ / ת .ז</label>
                <input name="id" required>
            </md-input-container>
        </div>

        <div layout="row" flex>
            <md-button class="md-raised md-accent">חיפוש</md-button>
            <md-button class="md-raised md-primary">הוספת ספק</md-button>
            <md-button class="md-raised md-primary">הוספת לקוח</md-button>
            <md-button class="md-raised md-primary">הוספת הזמנה חדשה</md-button>
        </div>
    </form>
</md-content>
