<md-content dir="rtl" ng-controller="MemoryController as vm" layout="row" layout-align="center center">
    <md-table-container>
        <a href="#!/supliers">מידע נוסף</a><br />
        <table md-table md-row-select multiple ng-model="selected" class="table table-hover table-bordered">
            <thead md-head md-order="query.order" md-on-reorder="vm.getItems()">
                <tr md-row>
                    <th md-column md-numeric>שם לקוח</th>
                    <th md-column md-order-by="nameToLower"><span>תיאור העסקה</span></th>
                    <th md-column md-numeric><span>תאריך דרישה לביצוע</span></th>
                    <th md-column md-numeric><span>אבן דרך</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="item" md-select-id="name" md-auto-select>
                    <td md-cell style="text-align: right">תן ביס</td>
                    <td md-cell style="text-align: right">אוכל על בסיס יומי</td>
                    <td md-cell style="text-align: right">26/05/18</td>
                    <td md-cell style="text-align: right">תשלום</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <!-- <nvd3 options="vm.chartOptions" data="vm.memoryChartData"></nvd3> -->
</md-content>