<!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
<div class="table-responsive-vertical md-whiteframe-z1" dir="rtl">
    <h2>דוח לקוחות</h2>
    <span>סינון לפי</span>
    <md-button class="md-raised md-primary">היום</md-button>
    <md-button class="md-raised md-primary">השבוע</md-button>
    <md-button class="md-raised md-primary">החודש</md-button>
    <md-button class="md-raised md-primary">חודשיים</md-button>
    <md-button class="md-raised md-primary">השנה</md-button>
    <md-button class="md-raised md-primary">טווח תאריכים</md-button>
    <br />
    <span>הצג את</span>
    <md-button class="md-raised md-accent">כל הלקוחות</md-button>
    <md-button class="md-raised md-accent">לקוחות חייבים</md-button>
    <table id="table" class="table table-hover table-bordered" dir="rtl" style="text-align: right">
        <thead style="text-align: right">
            <tr>
                <th style="text-align: right">מס'</th>
                <th style="text-align: right">שם לקוח</th>
                <th style="text-align: right">ח.פ</th>
                <th style="text-align: right">מס' עסקה</th>
                <th style="text-align: right">תיאור עסקה</th>
                <th style="text-align: right">אבני דרך שבוצעו</th>
                <th style="text-align: right">תכולת אבן דרך לביצוע</th>
                <th style="text-align: right">מועד סיום ביצוע</th>
                <th style="text-align: right">תשלום שבוצע</th>
                <th style="text-align: right">חוב בעסקה</th>
                <th style="text-align: right">חוב לקוח כולל</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in vm.tableData track by $index">
                <td data-title="ID" style="text-align: right">{{$index + 1}}</td>
                <td data-title="Issue" style="text-align: right">{{data.name}}</td>
                <td data-title="Status" style="text-align: right">{{data.hp}}</td>
                <td data-title="Status" style="text-align: right">{{data.number}}</td>
                <td data-title="Status" style="text-align: right">{{data.describe}}</td>
                <td data-title="Status" style="text-align: right">{{data.done_stones}}</td>
                <td data-title="Status" style="text-align: right">{{data.stones}}</td>
                <td data-title="Status" style="text-align: right">{{data.done_date}}</td>
                <td data-title="Status" style="text-align: right">{{data.done_paid}}</td>
                <td data-title="Status" style="text-align: right">{{data.hov}}</td>
                <td data-title="Status" style="text-align: right">{{data.sum_hov}}</td>
                <!-- <td data-title="Progress">
                    <md-progress-linear class="table-progress {{data.class}}"
                        md-mode="determinate"
                        value={{data.progress}}>
                    </md-progress-linear>
                </td> -->
            </tr>
        </tbody>
    </table>
    <md-button class="md-raised md-accent">ייצוא לEXCEL</md-button>
    <md-button class="md-raised md-accent">ייצוא לPDF</md-button>
    <md-button class="md-raised md-accent">הדפס מתצוגה</md-button>
    <table id="table1" class="table table-hover table-bordered" dir="rtl" style="width: 50%;">
        <tbody style="direction: rtl;">
            <tr>
                <td data-title="ID">סה"כ תשלומים שבוצעו</td>
                <td data-title="Issue">120,000</td>
            </tr>
            <tr>
                <td data-title="ID">סה"כ חובות לקוחות</td>
                <td data-title="Issue">10,000</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>
    <div dir="rtl" layout-gt-md="row">
        <div flex style="text-align: center">
            <a>תמיכה</a>
            |
            <a>שאלות נפוצות</a>
            |
            <span>2018 © All right reserved C.R.G</span>
        </div>
    </div>
</div>
