﻿<div dir="rtl" layout-gt-md="row">

  <panel-widget flex title="לקוחות" template="app/views/partials/costumers.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="ספקים" template="app/views/partials/suppliers.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="דוח חריגים" template="app/views/partials/exceptions.html" class="fixed-height-widget"></panel-widget>
</div>

<div dir="rtl" layout-gt-md="row">
  <panel-widget flex title="חיפוש" template="app/views/partials/search.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="מחולל דוחות" template="app/views/partials/performance.html" options="true"></panel-widget>
</div>

<!--<div dir="rtl" layout-gt-md="row">-->
  <!--<panel-widget flex title="רשימת מטלות" template="app/views/partials/checkboxes.html"></panel-widget>-->
<!--</div>-->
<br>
<br>
<div dir="rtl" layout-gt-md="row">
  <div flex style="text-align: center">
      <a>תמיכה</a>
      |
      <a>שאלות נפוצות</a>
      |
      <span>2018 © All right reserved C.R.G</span>
  </div>
</div>