﻿<!-- TODO: Add validations -->
<md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <md-input-container>
        <label>Username</label>
        <input ng-model="vm.user.title">
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input ng-model="vm.user.email" type="email">
    </md-input-container>
</md-content>
<md-content class="md-padding">
    <form name="userForm">
        <div layout layout-sm="column">
            <md-input-container flex="80">
                <label>Company (Disabled)</label>
                <input ng-model="vm.user.company" disabled>
            </md-input-container>
            <md-input-container flex>
                <label>Submission Date</label>
                <input type="date" ng-model="vm.user.submissionDate">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>First Name</label>
                <input ng-model="vm.user.firstName"
                       placeholder="Placeholder text">
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="vm.user.lastName">
            </md-input-container>
        </div>
        <md-input-container flex>
            <label>Address</label>
            <input ng-model="vm.user.address">
        </md-input-container>
        <div layout layout-sm="column">
            <md-input-container flex>
                <label>City</label>
                <input ng-model="vm.user.city">
            </md-input-container>
            <md-input-container flex>
                <label>State</label>
                <input ng-model="user.state">
            </md-input-container>
            <md-input-container flex>
                <label>Postal Code</label>
                <input ng-model="vm.user.postalCode">
            </md-input-container>
        </div>
        <md-input-container flex>
            <label>About us</label>
            <textarea ng-model="vm.user.biography" columns="1"
                      md-maxlength="150"></textarea>
        </md-input-container>
    </form>
    <br>
    <br>
    <div dir="rtl" layout-gt-md="row">
        <div flex style="text-align: center">
            <a>תמיכה</a>
            |
            <a>שאלות נפוצות</a>
            |
            <span>2018 © All right reserved C.R.G</span>
        </div>
    </div>
</md-content>
